{{> welcomemenu }}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> BMI Tracker </header>
    <p> Fill in your assessments week by week and track your BMI.
      Trainers will comment on your progress and encourage your to keep going!</p>
  </div>
  <div class="column">
    <img class="ui image" src="https://cdn.glitch.com/946f9c52-8b7f-4b90-8576-a34cba7761b8%2Fgymicons.jpg?v=1599402075560">
  </div>
</section>