{{> menu id="dashboard"}}

<section class="ui segment">
    <h2 class="ui header">
        <i class="ui users icon"></i> Current Member List
    </h2>
  <section class="ui segment">
    {{> listusers}}
  </section>
</section>