{{> menu id="dashboard"}}

<section class="ui segment">
    <h2 class="ui header">
        <i class="ui users icon"></i> Current Member List
    </h2>
    {{#each assessments}}
    <section class="ui segment">
        <h3 class="ui header">
            <i class="ui user icon"></i> {{title}}
        </h3>
        <h4 class="ui header">
            Total Assessments: {{assessmentCount}}
        </h4>
        <a href="/trainercommentpage/{{id}}" class="ui icon button">
            <i title="View Assessments" class="icon folder open"></i>
        </a>
        <a href="/trainerdashboard/deletemember/{{id}}" class="ui icon button">
            <i title="Delete this Member" class="ui black trash alternate icon"></i>
        </a>
    </section>
    {{/each}}
</section>